#pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-content: center;
  justify-items: center;

  @media (max-width: 768px) {
    padding: 15px;
    gap: 20px;
  }
}